<%- include('common/head'); -%>
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyDViXsX4aGMzQA-2X5J9gj8Gt_LD__RcVU",
        v: "beta",

    });
</script>
<script src="/javascripts/location.js"></script>
</head>

<body>
<div class="create">
    <div class="create-form">
        <h2>Enter Details</h2>
        <form id="form" enctype="multipart/form-data">
            <label for="name">Plant Name: *</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="image">Upload Image: *</label><br>
            <input type="file" id="image" name="image" accept="image/*" required><br>

            <label for="description">Description: *</label><br>
            <input type="text" id="description" name="description" required><br><br>

            <label for="location">Location: *(MOVE PIN TO SELECT LOCATION)</label><br>
            <div id="map" class="map"></div><br>
            <input type="text" id="location" name="location" required readonly><br><br>

            <label for="username">Your Nickname: *</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label>Characteristics:</label><br><br>
            <label for="height">Height (cm) *</label><br>
            <input type="number" min="0" step="0.1" id="height" name="height" required><br>
            <label for="spread">Spread (cm) *</label><br>
            <input type="number" min="0" step="0.1" id="spread" name="spread" required><br>

            <input type="checkbox" id="fruit" name="characteristics" value="fruit">
            <label for="fruit">Fruit</label><br>
            <input type="checkbox" id="seeds" name="characteristics" value="seeds">
            <label for="seeds">Seeds</label><br>
            <input type="checkbox" id="leaves" name="characteristics" value="leaves">
            <label for="leaves">Leaves</label><br>
            <input type="checkbox" id="flowers" name="characteristics" value="flowers">
            <label for="flowers">Flowers</label><br>

            <label for="colour">Colour:</label><br>
            <input type="color" id="colour" name="colour"><br>

            <label for="sunExposure">Sun Exposure:</label><br>
            <select id="sunExposure" name="sunExposure">
                <option value="full">Full Sun</option>
                <option value="partial">Partial Sun</option>
                <option value="shade">Shade</option>
            </select><br>

            <label for="status">Status: *</label><br>
            <select id="status" name="status" required>
                <option value="Completed">Completed</option>
                <option value="In-progress">In-progress</option>
            </select><br><br>

            <input id="submit" type="submit" value="Upload">
        </form>
    </div>
    <div class="create-preview">
        <h2>Preview</h2>
        <div id="preview">
            <img class="image-preview" id="previewImage" src="/images/placeholder-image.png" alt="Preview Image">
            <p id="previewName"></p>
            <p id="previewLocation"></p>
        </div>
    </div>
</div>
<script src="/javascripts/create.js"></script>
<script src="/idb-utility.js"></script>
</body>

<%- include('common/footer'); -%>