
.desktop-sorting, .desktop-filter, .desktop-datetime {
    display: flex;
}

.mobile-menu, .mobile-hide-show-description-btn, .mobile-datetime {
    display: inline;
}

@media screen and (max-width: 768px) {
    .title-button {
        display: inline;

    }
    .home-button {
        margin-left: 0%;
    }

    .filters {
        display: inline;
        justify-content: space-between;
    }

    .posts-grid {
        padding-left: 0px;
        width: 100%;
    }

    .create-form {
        width: 80%;
        margin-bottom: 2%;
    }

    .create-preview{
        width: 70%;
        margin-bottom: 0%;
        margin-right: 0px;
    }

    .posty {
        padding-left: 0px;
    }

    .post {
        width: calc(75% - 10px);
        margin-bottom: 2%;
    }

    .plant-item {
        width: 100%; /* Display one plant item per row on smaller screens */
    }

    .create-preview{
        width: calc(90% - 10px);
        margin-bottom: 2%;
    }

    .image-preview {
        width: 100%;
        height: auto;
    }

    .img-view {
        width: 90%;
        height: auto;
    }

    .plant-description{
        width: 90%;
        height: auto;
    }

    .chat{
        width: 90%;
        height: auto;
    }

    .update-page {
        display: inline;
    }

    .update-form {
        margin-top: 2%;
        width: 100%;
    }

    .previewImage {
        width: 200%;
    }

    .post {
        padding: 3%;
    }

    .image {
        max-height: 400px;
    }

    .plant-description{
        padding: 3%;
    }

    .create-form {
        padding: 4%;
    }

    .update-form {
        padding: 4%;
    }
}