body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mobile-menu, .mobile-hide-show-description-btn, .mobile-datetime {
  display: none;
}

head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title-button {
  display: flex;
  align-items: center;
}

.home-button {
  margin-left: 1000px;
  padding-right: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.radio-filter,
.search-character,
.dropdown-sun,
.dropdown-colour {
  padding-top: 20px;
  width: 100%;
}
.posts-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 40px;
  width: 90%;
}

.posty {
  padding-left: 40px;
}

.post {
  width: calc(30% - 10px);
  margin-bottom: 2%;
}

.image {
  width: 100%;
  height: auto;
}

.create {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preview {
  width: 70%;
  height: auto;
}

.create-preview{
  width: 50%;
  margin-bottom: 2%;
  margin-right: 20px;
}

.create-form {
  width: 40%;
  margin-bottom: 2%;
}

.image-preview {
  width: 80%;
  height: auto;
}


.form-buttons{
  margin-top: 5%;
}

.view-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-view {
  width: 30%;
  height: auto;
}

.plant-description{
  width: 30%;
  height: auto;
}

.chat{
  width: 30%;
  height: auto;
}

.color-swatch {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid black; /* Optional border */
  vertical-align: middle;
}

.map {
  height:200px;
  width:auto;
}